!!!
%html{lang: "ja"}
  %head
    %meta{charset: "utf-8"}
  %body
    .main-chat
      .main-chat__group
        .main-chat__group--is-flexed-left
          .main-chat__group__group-name
            test
          .main-chat__group__group-member
            Member:
        %a(href="#")
          .main-chat__edit-btn
            Edit
      .main-chat__message-list
        .main-chat__message-list__each
          .main-chat__message-list__each__info
            .main-chat__message-list__each__info__talker
              %h Name
            .main-chat__message-list__each__info__date
              %p Date
          .main-chat__message-list__each__message
            こんにちは
      .main-chat__form
        %form.new_message
          .input-box
            %input{type: "text", class: "input-box__text", placeholder: "type a message"}
            %label{class: "input-box__image"}
              =icon('fas', 'image')
              %input{type: "file", class: "input-box__image__file"}
          %input{type: "submit", class: "submit-btn"}