!!!
%html{lang: "ja"}
  %head
    %meta{charset: "utf-8"}
  %body
    .side-bar
      .side-bar__header
        .side-bar__header__box
          %p{class: "side-bar__header__box__user-name"}
            = current_user.name
          %ul{class: "side-bar__header__box__icons"}
            %li{class: "side-bar__header__box__icons__new-group"}
              %a{ href: "https://chat-space-sample.herokuapp.com/groups/new"}
                <i class="fas fa-edit"></i>
            %li{class: "side-bar__header__box__icons__edit-user"}
              = link_to edit_user_path(current_user) do
                = icon('fas', 'cog', class: 'icon')
      .side-bar__group-list
        .side-bar__group-list__group
          .side-bar__group-list__group__group-name
            %h techcamp
          .side-bar__group-list__group__latest-message
            %h まだメッセージがありません